<p>
    Using <code><?php echo $this->qrCode->getGeneratorClassName(); ?></code>
</p>
<p>
    <img src="data:image/<?php echo $this->qrCode->getImageType(); ?>;base64,<?php echo base64_encode($this->qrCode->render()); ?>" />
</p>